*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn{
    border: 0;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 1.5rem;
    cursor: pointer;
}
.container{
    backdrop-filter: blur(3px);
    /* background-color: green; */
    height: 100vh;
    width: 100%;
    position: fixed;
    left: -5000px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.display-modal{
    left: 0;
}
.modal{
    width: 400px;
    background-color: white;
    padding: 15px;
}
.modal .close{
    float: right;
    background-color: red;
    color: aliceblue;
    /* clear: both; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 22px;
    border: 0;
    cursor: pointer;


}

.modal h2 {
     text-align: center;
     margin-bottom: 25px;

}

.modal p {
    text-align: center;
}